.recipe_card{
height:400px;
width:300px;
align-items:center;
display:flex;
flex-direction:column;
text-align:center;
padding-bottom: 15px;
justify-content: space-between;
box-shadow: 0px 3px 10px rgb(40, 49, 54);
}

.recipe_img_container {
    width:300px;
    height:300px;
    margin-bottom: 10px;
}

img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px
}
h4{
    color:black;
    font-size: 20px;
}